$primaryColor: #ffcd04;
$secondaryColor: #1e3a48;
$textColor: #000;
$HeaderTextColor: #1e3a48;
$backgroundColor: #f9f9f9;

$normalFont: 'Barlow Condensed', sans-serif;
$headerFont: 'Rowdies', cursive;

$textBorder: 0px 2px 0px black, 2px 0px 0px black, -1px 0px 0px black,
	1px 1px 0px black, 1px -1px 0px black, -1px 1px 0px black, -1px -1px 0px black;
