@use 'variables';
@use 'mixins';

.all-bar-header {
	display: flex;
	width: 100%;
	padding: 10px;
	margin: 10px;
	font-size: 0.9em;

	h3,
	div {
		width: 33%;
		text-align: center;
		color: variables.$HeaderTextColor;
	}
}

.bar-tickets {
	margin-bottom: 15px;
	background-color: rgb(255, 255, 255);
	display: flex;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0px 0px 3px #1bcc9750;
	width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;

	div {
		height: 100%;
		width: 33%;
		@include mixins.centrate();
	}

	.bar-name {
		font-size: 1.3em;
		line-height: 60px;
		color: variables.$secondaryColor;
	}

	.n-cupons {
		font-size: 2em;
		line-height: 56px;
		color: variables.$thirdColor;
		height: 60px;
		width: 60px;
		border: 1px dashed rgb(198, 198, 198);
		border-radius: 50%;
	}

	.btn {
		background-color: variables.$thirdColor;
		line-height: 55px;
		height: 55px;
		width: 55px;
		font-size: 1.5em;
		box-shadow: 2px 2px 0px #00000020;
		color: white;
		border-radius: 50%;

		cursor: pointer;

		&:active {
			box-shadow: none;
		}
	}

	a {
		color: black;
	}

	.closed {
		width: 100px;
		height: 30px;
		font-size: 1.1em;
		background-color: variables.$primaryColor;
		border: dashed black 1px;
		border-radius: 3px;
		cursor: pointer;
	}

	.grey {
		background-color: #f0f0f0;
		box-shadow: none;
		border: none;
		cursor: default;
	}

	.greybox {
		background-color: #f0f0f0;
		width: 100px;
		height: 20px;
	}

	.no-bar-msg {
		font-weight: 400;
		padding: 0px 5px;
		width: 80%;
	}

	.qr {
		margin-left: auto;
		margin-right: auto;
		height: 36px;
		border: solid 2px;
		padding: 5px 7px;
		border-radius: 3px;
		color: variables.$thirdColor;
		cursor: pointer;
		box-shadow: 2px 2px;

		&:active {
			box-shadow: none;
		}
	}
}

.empty-bar {
	box-shadow: none;
	border: none;
	background-color: transparent;
}
