@use 'variables';
@use 'mixins';

.code-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 40px;
	margin-top: 5px;
}

form {
	@include mixins.centrate();
	flex-direction: row;
	gap: 10px;

	.code-input {
		height: 30px;
		width: 200px;
		text-align: center;
		font-size: 1.1em;
		border: dashed 1px variables.$primaryColor;

		&:focus {
			outline-color: variables.$primaryColor;
		}
	}

	button {
		font-size: 1.2em;
		border-radius: 3px;
		box-shadow: 2px 2px 0px #00000040;
		height: 30px;
		width: 50px;
		margin-bottom: 2px;
		color: black;
		border: none;
		cursor: pointer;
		background-color: variables.$primaryColor;
		transition: 0.3s;

		&:active {
			box-shadow: none;
		}
	}
	.validating {
		box-shadow: none;
	}

  .spinner {
    animation: spin infinite 2s linear;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
