@use 'variables';
@use 'mixins';

.overlay{
	@include mixins.centrate();
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #00000050;
	z-index: 5;
	height: 100vh;
	width: 100%;

	.info-popup{
		@include mixins.centrate();
		position: relative;
		background-color: #f0f0f0;
		width: 300px;
		height: 500px;
		z-index: 10;
		border-radius: 5px;
		box-shadow: 0px 0px 12px -4px variables.$thirdColor;
		padding: 20px;

		h3{
			margin-bottom: 3px;
		}

		.prize{
			color: variables.$thirdColor;
			font-size: 1.1em;
		}

		p{
			text-align: justify;
		}

		a{
			color: variables.$thirdColor
		}
	}


	.popup{
		@include mixins.centrate();
		position: relative;
		background-color: #f0f0f0;
		width: 300px;
		min-height: 300px;
		z-index: 10;
		border-radius: 5px;
		box-shadow: 0px 0px 12px -4px variables.$thirdColor;
		padding: 20px;
		gap: 20px;
		text-align: center;

		.btn-container{
			display: flex;
			margin-top: 10px;
			gap: 10px;

			button{
				background: none;
				padding: 10px;
				color: variables.$secondaryColor;
				font-size: 1.1em;
				box-shadow: 2px 2px variables.$secondaryColor;
				border-radius: 5px;
				cursor: pointer;

				&:hover{
					background-color: #ceffeb;
				}

				&:active{
					box-shadow: none;
				}

			}
		}
	}

	.info-winner{
		color: variables.$secondaryColor;
		h2{
			font-size: 1.3em;
		}
		
		.subtittle{
			font-size: 1.1em;
			width: 100%;
			display: flex;
			justify-content: center;
			gap: 40px;

			.num-tittle{
				width: 50px;
			}

			.prize-tittle{
				width: 100px;
			}
		}

		.winner-name{
			color: purple;
		}

		.winner-info{
			@include mixins.centrate();
			flex-direction: row;
			justify-content: space-evenly;
			width: 100%;

			div{
				width: 50px;
			}

			.prize{
				color: purple;
			}

		}
	}

	.close{
		position: absolute;
		top: 12px;
		right: 15px;
		background-color: variables.$thirdColor;
		padding: 7px 10px;
		border-radius: 3px;
		cursor: pointer;
		box-shadow: 2px 2px 0px #00000020;

		&:active{
			box-shadow: none;
		}
	}	

	.subtext{
		background-color: #f0f0f0;
		width: 300px;
		margin-top: 10px;
		border-radius: 5px;
		box-shadow: 0px 0px 12px -4px variables.$thirdColor;
		padding: 5px;
		text-align: center;

		a{
			color: variables.$thirdColor;
		}
	}

}