@use 'variables';

.side-bar {
	background-color: #f9f9f9;
	position: fixed;
	top: 0;
	bottom: 0;
	translate: (-320px);
	z-index: 100;
	width: 320px;
	height: 100vh;
	padding-left: 25px;
	padding-top: 50px;
	transition: translate 0.3s ease;

	.close-menu {
		position: absolute;
		top: 10px;
		right: 10px;
		height: 23px;
		color: variables.$secondaryColor;
		border: 1px solid variables.$thirdColor;
		padding: 5px;
		border-radius: 5px;
		cursor: pointer;
	}

	ul,
	a {
		list-style: none;
		text-decoration: none;
		color: variables.$secondaryColor;
		font-size: 1.2em;
	}

	li {
		margin-bottom: 10px;

		a {
			&:hover {
				color: variables.$thirdColor;
			}
		}
	}

	img {
		width: 100px;
		border-radius: 50%;
		border: solid 3px variables.$thirdColor;
		padding: 3px;
		cursor: pointer;
		margin-bottom: 20px;
	}

	.more-trivify {
		margin-top: 100px;
		a {
			color: variables.$thirdColor;
			&:hover {
				color: variables.$secondaryColor;
			}
		}
	}

	.no-click {
		color: #d8d8d8;
		cursor: default;
		border-color: #d8d8d8;

		&:hover {
			color: #d8d8d8;
		}
	}
}

.active {
	box-shadow: 2px 0px 5px #00000030;
	translate: (0px);
}
