@use 'mixins';

.ticket {
	@include mixins.centrate();
	width: 70px;
	height: 100px;
	border: 1px dashed lightblue;
	border-radius: 10px;

	&__number {
		font-size: 2em;
		background-color: green;
		height: 50px;
		width: 50px;
		text-align: center;
		color: white;
		padding-top: 1px;
		border-radius: 50%;
    border: 1px solid black;
	}
}

.empty {
  background-color: #e3e7e9;
  border: none;
}

.red {
	background-color: rgb(255, 86, 86);
}
.green {
	background-color: rgb(96, 210, 96);
}
.blue {
	background-color: rgb(124, 124, 236);
}
.yellow {
	background-color: rgb(227, 214, 98);
}
.violet {
	background-color: rgb(146, 47, 146);
}
.orange {
	background-color: rgb(239, 174, 54);
}

.empty-ticket{
    border: 1px dashed #e3e7e9;

}