@use 'variables';

.user-bar{
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: variables.$primaryColor ;
  text-align: center;

  img{
    width: 60px;
    border-radius: 50%;
    background-color: #f9f9f9;
    padding: 3px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .playing-as{
    font-size: 0.6em;
    text-shadow: none;
  }

  .user-name{
    font-size: 0.7em;
    text-shadow: none;
  }
}